---
import Layout from '../layouts/Layout.astro';
import WordPressTest from '../components/WordPressTest.astro';
---

<Layout title="WordPress Integration Test">
  <main>
    <WordPressTest />
  </main>
</Layout>
